*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.back-to-top-btn{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: m 0.1rem 1rem;
    background-color: #122954;
    color: #f58750;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 820px){
    .back-to-top-btn{
        right: 1rem;
    }
}
@media (max-width: 420px){
    .back-to-top-btn{
        right: 1rem;
        bottom: 1rem;
    }
}