* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.page-title {
  display: none;
}
.icons-container {
  display: flex;
  gap: 1rem;
}
.contact-form-icons {
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 820px) {
  .page-title {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 7rem;
  }
  .contact-form-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background: none;
    transition: none;
  }
  .icons-container {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 420px) {
  .contact-form-icons {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .page-title {
    margin: 0;
    color: #f58750;
  }
}
