*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.message-sent-container{
    width: 50%;
    height: 7rem;
    background-color:#aec6cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: -600px;
    left: 25%;
    z-index: 4;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    font-weight: bold;
    transition-duration: 1s;
  }
  .message-sent-container p {
    color:#122954;
  }
  .message-sent-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .message-sent-form button{
    width: 10rem;
    height: 2.5rem;
    background-color: transparent;
    font: bolder 1.3rem Barlow, sans-serif;
    cursor: pointer;
    border: 2px solid #122954;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #122954;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .message-sent-form button:hover{
    box-shadow: 0px 0px 10px 0px #662d91;
    border-color: #662d91;
    color: #662d91;
  }

  @media (max-width: 820px){
    .message-sent-container{
      width: 90%;
      left: 5%;
    }
  }
