* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 0.1rem 4rem 0.1rem 1rem;
  background-color: #122954;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
nav span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlinks-container {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  list-style: none;
}
.navLink {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffff;
  transition: 0.3s ease;
}
.navLink:hover {
  color: lightblue;
}
a .active {
  color: orange;
}
.nav-logo:hover {
  transform: rotateZ(360deg);
  transition: 1s;
  transition-delay: 0.5s;
}
.hamburger-open-button{
  display: none;
}
.hamburger-close-button{
  display: none;
}
/* -------------------------------------- */
@media (max-width: 1000px){
  .navLink{
    font-size: 1.1rem;
  }
}
@media (max-width: 820px){
  nav {
    padding: 0.1rem 1rem 0.1rem 1rem;
  }
  .hamburger-open-button{
    display: initial;
    cursor: pointer;
  }
  .hamburger-close-button{
    display: initial;
    align-self: flex-start;
    padding: 1rem 0 0 1rem;
    cursor: pointer;
  }
  nav span {
    justify-content: start;
  }
  .navlinks-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 0;
    right: -1000px;
    width: 25rem;
    height: 100vh;
    background-color: rgba(18, 41, 84, 0.8)  ;
    backdrop-filter: blur(10px);
    transition: 1s;
  }
  .navLink {
    font-size: 2rem;
  }
  /* ------------------------------------------------------- */
  @media (max-width: 420px){
    nav {
      padding: 0.1rem 0.2rem 0.1rem 1rem;
    }
    .navlinks-container{
      width: 100%;
    }
  }
}
