* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.skill-component-container {
  width: 80%;
  height: fit-content;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}
.skill-description {
  flex-basis: 75%;
  background-color: #dff7ff;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
}
.skill-title {
  font-size: 1.4rem;
  font-weight: bolder;
}
.skill-logo-container {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #dff7ff;
}
.skill-logo {
  width: 50%;
  height: 75%;
  min-width: 110px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------------------- */
@media (min-width: 1920px){
  .skill-title{
    font-size: 2rem;
  }
  .skill-description p{
    font-size: 1.7rem;
  }
}
/* --------------------------------------- */
@media (max-width: 820px) {
  .skill-component-container {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .skill-logo-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .skill-description {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
  .skill-logo {
    max-width: 110px;
    max-height: 150px;
  }
  /* ---------------------------------------------- */
  @media (max-width: 420px) {
    .skill-component-container {
      width: 90%;
    }
  }
}
  /* ---------------------------------------------- */
@media (max-width: 380px){
  .skill-component-container p {
    font-size: 0.9rem;
  }
}
