* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.about-content-container {
  display: flex;
}
.about-biography-container {
  flex-basis: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10rem 5rem 1rem 5rem;
}

.about-biography-container p {
  line-height: 1.4;
  font-weight:500;
}
.download-cv-container {
  display: flex;
  justify-content: flex-end;
}
.download-cv-button {
  width: 8rem;
  height: 2.5rem;
  background-color: transparent;
  font: bolder 1.3rem Barlow, sans-serif;
  cursor: pointer;
  border: 2px solid #122954;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #122954;
  font-size: 1.2rem;
  font-weight: bolder;
}
.download-cv-button:hover {
  box-shadow: 0px 0px 10px 0px #662d91;
  border-color: #662d91;
  color: #662d91;
}
.about-picture-container {
  flex-basis: 40%;
  display: flex;
  padding-top: 10rem;
  justify-content: center;
}
.my-photo {
  width: 280px;
  height: 360px;
  background-image: url("E:\React\react-portfolio\src\images\my-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.75);
}
/* -------------------------------------------------------------------------- */
@media (min-width: 1920px){
  .about-biography-container{
    padding: 13rem 5rem 1rem 5rem;
  }
  .about-biography-container h1{
    font-size: 4rem;
  }
  .about-biography-container p{
    font-size: 2rem;
  }
  .about-picture-container{
    padding: 13rem 5rem 1rem 5rem;
    align-items: center;
  }
  .my-photo{
    width: 90%;
    height: 100%;
  }
  .download-cv-button{
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}
/* -------------------------------------------------------------------------- */
@media (max-width: 1368px) and (max-height: 912px) and (orientation: landscape){
  .about-biography-container{
    padding: 10rem 5rem 1rem 5rem;
  }
  .about-picture-container{
    padding: 10rem 5rem 1rem 5rem;
  }
  .about-biography-container p{
    font-size: 1.2rem;
  }
}
/* -------------------------------------------------------------------------- */
@media (max-width: 912px) and (max-height:1368px) and (orientation:portrait){
  .about-content-container{
    flex-direction: column-reverse;
  }
  .about-picture-container{
    padding-top: 10rem;
  }
}
/* ----------------------------------------------------------------------------- */
@media (max-width: 1180px) and (max-height: 820px){
  .about-biography-container{
    padding: 10rem 5rem 1rem 5rem;
  }
  .about-picture-container{
    padding-top: 10rem;
  }
}
/* ----------------------------------------------------------------------------- */
@media (max-width: 820px){
  .about-content-container {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .about-biography-container {
    flex-basis: 60%;
    gap: 1rem;
    padding: 2rem 2rem
  }
  .about-biography-container h1{
    font-size: 2rem;
    font-weight: bolder;
  }
  .about-biography-container p{
    font-size: 1.2rem;
  }
  .download-cv-button{
    width: 10rem;
    height: 3rem;
  }
}
/* --------------------------------------------------------- */
@media (max-width: 380px){
  .about-picture-container{
    padding-top: 7rem;
  }
  .about-biography-container p {
    font-size: 0.9rem;
  }
}
/* --------------------------------------------------------- */
@media (max-height: 420px){
  .about-biography-container,.about-picture-container{
    padding-top: 6rem;
  }
}
/* --------------------------------------------------------- */
@media (max-height: 380px){
  .about-picture-container{
    padding-top: 6rem;
  }
}