* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.about-biography-container {
  flex-basis: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 5rem 1rem 5rem;
  /* border: 2px solid black; */
}
.about-biography-container p {
  line-height: 1.5;
}
.download-cv-container {
  display: flex;
  justify-content: flex-end;
}
.download-cv-button {
  width: 8rem;
  height: 2.5rem;
  background-color: transparent;
  font: bolder 1.3rem Barlow, sans-serif;
  cursor: pointer;
  border: 2px solid #122954;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #122954;
  font-size: 1.2rem;
  font-weight: bolder;
}
.download-cv-button:hover {
  box-shadow: 0px 0px 10px 0px #662d91;
  border-color: #662d91;
  color: #662d91;
}
.about-picture-container {
  flex-basis: 40%;
  display: flex;
  padding-top: 7rem;
  justify-content: center;
  /* border: 2px solid white; */
}
.my-photo {
  width: 280px;
  height: 360px;
  background-image: url("E:\React\react-portfolio\src\images\my-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.75);
}

@media (max-width: 820px){
  .about-content-container {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .about-biography-container {
    flex-basis: 60%;
    gap: 1rem;
    padding: 2rem 2rem
  }
  .about-biography-container h1{
    font-size: 2rem;
    font-weight: bolder;
  }
  .about-biography-container p{
    font-size: 1.2rem;
  }

}