* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-title-container {
  padding: 7rem 5rem 1rem 5rem;
}
.contact-title-container p {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
}
.contact-form-container {
  display: flex;
  /* border: 2px solid green; */
}
.contact-form {
  flex-basis: 60%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  /* border: 2px solid black; */
}
.contact-form input,
.contact-form textarea {
  width: 30rem;
  border-radius: 5px;
  outline: none;
  border: 3px solid darkgrey;
}
.contact-form input {
  height: 2rem;
  padding: 0 0.5rem;
}
.contact-form textarea {
  height: 12rem;
  resize: none;
  padding: 0.5rem;
}
.form-feedback-container {
  display: flex;
  width: 30rem;
  margin-top: -0.5rem;
  border: 2px solid black;
}
.send-button {
  width: 15rem;
  height: 2.5rem;
  background-color: #f58750;
  font: bold 1.1rem Barlow, sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
}
.send-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25rem);
}
.contact-details-container {
  flex-basis: 40%;
  display: flex;
  gap: 0.5rem;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.contact-details-container p {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}
.contact-details-item {
  background-color: #f58750;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.contact-details-icons:hover {
  transform: translateY(-16px);
  cursor: pointer;
  transition: 0.5s;
}
.contact-details-icons:not(:hover) {
  transition: 0.5s;
}
.form-validation-message{
  flex-basis: 90%;
  color: crimson;
  font-weight: bold;
}

@media (max-width: 820px) {
  .contact-form-container {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .contact-details-container {
    justify-content: center;
    padding: 1rem;
    /* border: 2px solid black; */
  }
  @media (max-width: 420px) {
    .contact-title-container {
      padding: 7rem 1rem 0rem 1rem;
    }
    .contact-details-item {
      width: 100px;
      height: 100px;
    }
    .contact-form input,
    .contact-form textarea {
      width: 22rem;
    }
    .contact-form textarea {
      height: 15rem;
    }
    .form-feedback-container{
      width: 22rem;
    }
  }
}
