* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact-title-container {
  padding: 7rem 5rem 1rem 5rem;
}
.contact-form-container {
  display: flex;
  padding: 0 7rem;
  /* border: 2px solid green; */
}
.contact-form {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  padding-bottom: 1rem;
  /* border: 2px solid black; */
}
.input-name {
  width: 30rem;
  font-weight: bold;
}
.input-error {
  width: 30rem;
  font-size: 0.9rem;
  color: crimson;
}
.contact-form input,
.contact-form textarea {
  width: 30rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid darkgrey;
}
.contact-form input {
  height: 2rem;
  padding: 0 0.5rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #122954;
}
.contact-form textarea {
  height: 12rem;
  resize: none;
  padding: 0.5rem;
}
.form-feedback-container {
  display: flex;
  width: 30rem;
  margin-top: -0.1rem;
  /* border: 2px solid black; */
}
.send-button {
  width: 15rem;
  height: 2.5rem;
  background-color: #f58750;
  font: bold 1.1rem Barlow, sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.send-button:hover {
  background-color: #122954;
  color: #f58750;
}
.contact-details-container {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.contact-details-container p {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}
.contact-details-item {
  background-color: #f58750;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.contact-details-icons:hover {
  transform: translateY(-8px);
  cursor: pointer;
  transition: 0.5s;
}
.contact-details-icons:not(:hover) {
  transition: 0.5s;
}
.form-validation-message {
  flex-basis: 90%;
  color: crimson;
  font-size: 0.9rem;
  /* font-weight: bold; */
}
.contact-form-logo {
  width: 100%;
  min-height: 220px;
  flex-basis: 60%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("E:\React\react-portfolio\src\images\contact.png");
}
.contact-icons-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 820px) {
  .contact-title-container h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
  .contact-form-container {
    flex-direction: column-reverse;
    padding: 0;
  }

  .contact-details-container {
    justify-content: center;
    padding: 1rem;
    /* border: 2px solid black; */
  }
  .contact-form {
    gap: 0.3rem;

  }
  .contact-form input {
    width: 75%;
    height: 2.5rem;
    font-size: 1.1rem;
  }
  .contact-form textarea {
    width: 75%;
    height: 13rem;
    font-size: 1.1rem;
  }
  .input-name,.input-error {
    width: 75%;

  }
  .contact-icons-container {
    justify-content: center;
    gap: 1rem;
  }
  .send-button {
    width: 20rem;
    height: 4rem;
    font: bold 1.5rem Barlow, sans-serif;
  }
  .form-feedback-container{
    width: 75%;
  }
}


/* --------------------------------------------------------------- */
@media (max-width: 420px) {
  .contact-title-container {
    padding: 7rem 1rem 0rem 1rem;
  }
  .contact-form-container {
    padding: 0;
  }
  .contact-form {
    /* margin: 0 auto; */
    align-items:end;
    padding: 0.5rem;

  }
  .contact-details-item {
    width: 100px;
    height: 100px;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
  .contact-form textarea {
    height: 15rem;
  }
  .form-feedback-container {
    width: 100%;
    padding: 0.5rem;
    margin-top: -0.7rem;
  }
  .input-name{
    width: 100%;
  }
}
