* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hobbies-title-container {
  padding: 7rem 5rem 0 5rem;
}
.hobbies-title-container h1 {
  font-weight: bolder;
  font-size: 2rem;
}
.hobbies-title-container p {
  margin: 1rem 0 3rem 0;
  font-weight: bold;
  font-size: 1.1rem;
}
/* ------------------------------------------------- */
@media (max-width: 820px) {
  .hobbies-title-container {
    padding: 8rem 5rem 0rem 5rem;
  }
}
/* ------------------------------------------------- */
@media (max-width: 1180px) and (max-height:820px){
  .hobbies-title-container{
      padding: 10rem 5rem 0 5rem;
  }
}
/* ------------------------------------------------- */
@media (max-width: 420px) {
  .hobbies-title-container {
    padding: 7rem 1rem 0 1rem;
  }
}
/* }------------------------------------------------- */
@media (max-height: 420px){
  .hobbies-title-container{
    padding-top: 6rem;
  }
}
/* }------------------------------------------------- */
@media (max-height: 380px){
  .hobbies-title-container{
      padding: 7rem 2rem 0 2rem;
  }
}
