*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 2rem;
}
.home-content-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.home-introduction-container{
    flex-basis: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding: 0 5rem;
    /* border: 2px solid black; */
}
.home-introduction-container p{
    font-weight: bold;
    line-height: 1.5;
}
.about-me-button{
    width: 15rem;
    height: 2.5rem;
    margin-top: 2rem;
    background-color: #f58750;
    font: bold 1.1rem Barlow, sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 5px;
}
.about-me-button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25rem);
}
.home-picture-container{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
}
.homepage-picture{
    width: 80%;
    height: 60%;
    margin-top: 4rem;
    background-image: url("E:\React\react-portfolio\src\images\homepage_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(20deg);
    /* border: 2px solid black; */
}