*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 2rem;
}

.home-content-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.home-introduction-container{
    flex-basis: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding: 0 5rem;
}
.home-introduction-container p{
    font-weight: bold;
    line-height: 1.5;
}
.about-me-button{
    width: 18rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: transparent;
    font: bolder 1.3rem Barlow, sans-serif;
    cursor: pointer;
    border: 2px solid #122954;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #122954;
    font-size: 1.2rem;
    font-weight: bolder;
}
.about-me-button:hover{
    box-shadow: 0px 0px 10px 0px #662d91;
    border-color: #662d91;
    color: #662d91;
}
.home-picture-container{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.homepage-picture{
    width: 80%;
    height: 60%;
    margin-top: 4rem;
    background-image: url("E:\React\react-portfolio\src\images\homepage_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(20deg);
}
/* ----------------------------------------------------------------------- */
@media (min-width: 1920px){
    .home-introduction-container{
        justify-content: flex-start;
        margin-top: 10rem;
        gap: 3rem;
    }
    .home-introduction-container h1{
        font-size: 4rem;
    }
    .home-introduction-container p{
        font-size: 2rem;
    }
    .about-me-button{
        width: 25rem;
        height: 5rem;
        font-size: 2rem;
    }
}
/* ----------------------------------------------------------------------- */
@media (max-width: 820px){
    .main-container{
        height: 100%;
    }
    .home-content-container{
        flex-direction: column;
    }
    .home-introduction-container{
        flex-basis: 50%;
        padding-top: 5rem;
    }
    .home-introduction-container p{
        font-size: 1.3rem;
    }
    .about-me-button{
        width: 20rem;
        height: 3.5rem;
        font: bold 1.5rem Barlow, sans-serif;
    }
    .home-picture-container{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homepage-picture{
        margin-top: 0;
        margin-bottom: 7rem;
        width: 70%;
        height: 70%;
    }
}


/* -------------------------------------------------------------------------------- */
@media (max-width: 912px) and (max-height:1368px) and (orientation:portrait){
    .home-content-container{
        flex-direction: column;
    }
    .home-introduction-container{
        flex-basis: 50%;
    }
    .home-introduction-container p{
        font-size: 1.2rem;
    }
    .home-picture-container{
        align-items: flex-start;
        justify-content: center;
    }
  }



/* ======================================================================= */
    @media (max-width: 820px) and (max-height: 680px){
        .about-me-button{
            width: 18rem;
            height: 3rem;
            font: bold 1.4rem Barlow, sans-serif;
        }
        .home-introduction-container{
            padding: 7rem 1rem 2rem 1rem;
        }
        .home-introduction-container p{
            font-size: 1.1rem;
        }
        .home-picture-container{
            justify-content: flex-end;
            padding: 1rem;
        }
        .homepage-picture{
            margin-bottom: 0;
            transform: rotateZ(5deg);
            width: 50%;
            height: 100%;
        }
    }


/* ======================================================================= */
    @media (max-width: 420px){
        .home-introduction-container{
            padding: 7rem 1rem 2rem 1rem
        }
        .home-introduction-container p{
            font-size: 1.1rem;
        }
        .about-me-button{
            width: 100%;
            margin-top: 1rem;
        }
        .homepage-picture{
            width: 80%;
        }
        h1{
            font-size: 1.6rem;
        }
    }
    /* -------------------------------------------------------------------------- */
    @media (max-width: 380px){
        .home-picture-container{
            padding-top: 0;
            padding-bottom: 2rem;
            justify-content: center;
        }
    }
    /* ------------------------------------------------------------------ */
    @media (max-height: 420px){
        .home-introduction-container{
            padding: 5rem 1rem 0rem 1rem
        }
        .about-me-button{
            height: 4rem;
            margin-top: 0.5rem;
        }
      }
/* ======================================================================= */
    @media (max-height: 380px){
        h1{
          font-size: 1.4rem;
        }
        .home-content-container{
            flex-direction: row;
        }
        .home-introduction-container{
            flex-basis: 70%;
            padding: 5rem 1rem 0rem 1rem
        }
        .home-picture-container{
            flex-basis: 30%;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .home-introduction-container p{
            font-size: 1rem;
        }
        .about-me-button{
            margin-top: 0.5rem;
        }
        .homepage-picture{
            width: 100%;
            height: 50%;
            margin: 0;
        }
      }
/* ======================================================================= */

