*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* main{
    padding-bottom: 1rem;
} */
.skills-title-container{
    padding: 10rem 5rem 0 5rem;
}
.skills-title-container h1{
    font-weight: bolder;
}
.skills-title-container p{
    margin: 2rem 0 2rem 0;

    font-size: 1.1rem;
    font-weight: bold;
}
/* ------------------------------------------------ */
@media (min-width: 1920px){
    .skills-title-container{
        padding: 13rem 5rem 0 5rem;
    }
    .skills-title-container h1{
        font-size: 4rem;
    }
    .skills-title-container p{
        font-size: 2rem;
    }
}
/* ------------------------------------------------ */
@media (max-width: 820px){
    .skills-title-container{
        padding: 8rem 5rem 0 5rem;
    }
}
/* ------------------------------------------------ */
@media (max-width: 1180px) and (max-height:820px){
    .skills-title-container{
        padding: 10rem 5rem 0 5rem;
    }
}
/* ------------------------------------------------- */
@media (max-width: 420px){
    .skills-title-container{
        padding: 7rem 1rem 0 1rem;
    }
}
/* }------------------------------------------------- */
@media (max-height: 420px){
    .skills-title-container{
      padding-top: 6rem;
    }
  }
/* }------------------------------------------------- */
@media (max-height: 380px){
    .skills-title-container{
        padding: 7rem 2rem 0 2rem;
    }
  }
