*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills-title-container{
    padding: 7rem 5rem 0 5rem;
    /* border: 2px solid black; */
}
.skills-title-container p{
    margin: 1rem 0 3rem 0;
    font-weight: bold;
}