
.Hamburger-menu-container {
  display: none;
}
.page-title-container {
  grid-column: 4/17;
  grid-row: 2/3;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main-nav__container {
  grid-column: 1/3;
  grid-row: 1/17;
  background-color: transparent;
}
.skills-container {
  grid-column: 4/16;
  grid-row-start: 6;
  grid-row-end: 13;
  justify-self: right;
}
.skills-message {
  grid-column: 4/16;
  grid-row: 4/6;
  font-size: 1.1rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .main-nav__container {
    display: none;
  }
  .page-title-container {
    grid-column: 2/13;
    grid-row: 3/4;
  }
  .skills-message {
    grid-column: 2/13;
    grid-row: 4/5;
    margin-top: 1rem;
  }
  .skills-container {
    grid-column: 2/12;
    grid-row-start: 6;
    grid-row-end: 13;
  }
}
@media only screen and (max-width: 520px) {
  .skills-container {
    grid-column: 2/12;
    grid-row-start: 6;
    grid-row-end: 13;
  }
}
/* @media only screen and (max-width: 480px) {
  .skills-container {
    grid-column: 2/12;
    grid-row-start: 4;
    grid-row-end: 13;
  }
  .page-title-container {
    grid-column: 2/13;
    grid-row:2/3;
    margin: 2rem 0;
  }
  .skills-message {
    grid-column: 2/13;
    grid-row: 3/4;
  }
} */
