@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body{
  overflow: visible;
}
.Hamburger-menu-container{
  display: none;
}
.contact-title-container {
  grid-column: 4/17;
  grid-row: 2/3;
}
.contact-title-container,
.contact-form-message {
  display: flex;
  align-items: center;
}

.contact-form-message {
  grid-column: 4/16;
  grid-row: 3/5;
  font-weight: bold;
}

.contact-form-container {
  grid-column: 4/11;
  grid-row: 5/17;
  height: auto;
  border: 2px solid rgb(11, 146, 20);
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  grid-column: 12/17;
  grid-row: 5/17;
  /* border: 2px solid orange; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* border: 2px solid rgb(161, 142, 142); */
  margin-bottom: 1rem;
}
.contact-form input {
  width: 26rem;
  height: 2rem;
  padding: 0.5rem;
}
.contact-form input:focus{
  background-color: #90ee90;
}
.contact-form textarea {
  width: 26rem;
  height: 12rem;
  padding: 0.5rem;
}

textarea,
.contact-form input {
  border: 2px solid grey;
  border-radius: 5px;
  outline: none;
}
textarea{
  resize: none;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  gap: 1rem;
  /* border: 2px solid rgb(228, 51, 51); */
}
.contact-details p {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-family: "Oswald", sans-serif;
}
.contact-soacial-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-basis: 50%;
  margin: 0 auto;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.contact-soacial-media a{
  /* width: 100%; */
  height: fit-content;
  /* border: 2px solid black; */
  transition: 0.5s;
}
.contact-soacial-media a:hover{
  transform: translateY(-0.4rem)
}
.send-button{
  width: 15rem;
  height: 2.5rem;
  background-color: #f58750;
  font: bold 1.1rem Barlow, sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
}
.send-button:hover{
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25rem);
}


@media only screen and (max-width: 900px) {
  .contact-details p {
    font-size: 0.9rem;
  }
  .contact-form textarea,.contact-form input{
    width: 23rem;
}
.contact-form textarea{
  height: 16rem;
}
.contact-form-container {
  grid-column: 4/12;
  grid-row: 5/17;
}
}
@media only screen and (max-width: 768px) {
  .main-nav__container {
    display: none;
  }
  .contact-title-container {
    grid-column: 2/13;
    grid-row: 3/4;
  }
  .contact-form-message {
    grid-column: 2/12;
    grid-row: 4/5;
    margin-top: 1rem;
  }
  .contact-form-container {
    grid-column: 1/13;
    grid-row-start: 9;
    height: 25rem;
  }
  .contact-details-container {
    grid-column: 2/13;
    grid-row: 5/9;
    flex-direction: row;
  }
  .contact-details{
    flex-basis: 50%;
    /* padding: 1rem; */
  }
  .contact-soacial-media{
    flex-basis: 50%;
    align-items: center;
  }
  .contact-soacial-media a{
    width: fit-content;
  }
  .contact-form textarea{
    width: 28rem;
  }
}
@media only screen and (max-width: 480px) {
  .contact-form-message {
    grid-column: 1/17;
    grid-row: 4/5;
  }
  .contact-form-container {
    grid-row-start: 10;
    height: 25rem;
  }
  .contact-details-container {
    grid-row: 5/10;
  }
  .contact-soacial-media{
    flex-basis: 50%;
    flex-direction: column;
  }
  .contact-form textarea,.contact-form input{
    width: 22rem;
}
}
