@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, minmax(0,1fr));
  grid-template-rows: repeat(16, minmax(0,1fr));
  height: 100vh;
  background-color: #aec6cf;
}
.main-nav__container {
  grid-column: 1/3;
  grid-row: 1/17;
  background-color: #436b95;
}
.Hamburger-menu-container{
  display: none;
}

.contact-title-container {
  grid-column: 3/17;
  grid-row: 1/3;
  font-family: "Oswald", sans-serif;
  border: 2px solid black;
  text-align: center;
}
.contact-title-container h1 {
  font-size: 3rem;
}

.contact-title-container,
.contact-form-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-message {
  grid-column: 3/17;
  grid-row: 3/5;
  text-align: center;
  border: 2px solid black;
}

.contact-form-container {
  grid-column: 3/12;
  grid-row: 5/17;
  border: 2px solid rgb(11, 146, 20);
  align-self: center;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  grid-column: 12/17;
  grid-row: 5/17;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* padding: 1.5rem; */
  border: 2px solid rgb(161, 142, 142);
}
.contact-form input {
  width: 30rem;
  height: 2rem;
}
.contact-form textarea {
  width: 30rem;
  height: 12rem;
}

textarea,
.contact-form input {
  border: 2px solid grey;
  border-radius: 5px;
  outline: none;
  /* padding: 0.2rem 0.5rem; */
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  gap: 1rem;
  border: 2px solid rgb(228, 51, 51);
}
.contact-details p {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-family: "Oswald", sans-serif;
}
.contact-soacial-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-basis: 40%;
  margin: 0 auto;
  border: 2px solid black;
}
.send-button{
  width: 10rem;
  height: 2rem;
  background-color: #436b95;
  border: none;
  color: white;
  cursor: pointer;
}



@media only screen and (max-width: 1000px) {
  .contact-details p {
    font-size: 0.9rem;
  }
  .contact-form textarea,.contact-form input{
    width: 25rem;
}
}
@media only screen and (max-width: 860px) {

  .contact-title-container {
    grid-column: 3/17;
    grid-row: 1/3;
  }
  .contact-form-message {
    grid-column: 3/17;
    grid-row: 3/5;
  }
  .contact-details-container {
    grid-column: 12/17;
    grid-row: 6/16;
  }
  .contact-form-container {
    grid-column: 3/12;
    grid-row: 5/17;
    padding: 0.5rem;
  }
  .contact-form textarea,.contact-form input{
    width: 25rem;
}
.contact-soacial-media {
  justify-content: center;
  align-items: center;
}
}
@media only screen and (max-width: 800px) {
  .grid-container{
    height: auto;
    min-height: 100vh;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-template-rows: repeat(12, minmax(0,1fr));
  }
  .contact-form-message {
    grid-row: 3/4;
  }
  .contact-details-container {
    grid-column: 3/13;
    grid-row: 5/10;
    flex-direction: row;
  }
  .contact-form-container {
    grid-column: 3/13;
    grid-row: 10/17;
    padding: 0.5rem;
  }
  .contact-details {
    padding: 2rem;
  }
  .contact-details-container {
    grid-column: 3/17;
    grid-row: 4/7;
  }
  .contact-form-container {
    grid-column: 3/17;
    grid-row: 7/12;
    padding: 0.5rem;

  }
}
@media only screen and (max-width: 620px) {
  .main-nav__container{
    display: none;
  }
  .contact-title-container {
    grid-row: 2/3;
    grid-column: 1/17;
  }
  .contact-form-message {
    grid-column: 1/17;
    grid-row: 3/4;
  }
  .contact-details-container {
    grid-column: 1/17;
    grid-row: 4/7;
    flex-direction: row;
  }
  .contact-form-container {
    grid-column: 1/17;
    grid-row: 7/12;
    padding: 0.5rem;
    align-items: flex-start;
  }
  .contact-details {
    justify-content: flex-start;
  }
  .main-nav__container__active {
    grid-column: 1/11;
    grid-row: 2/17;
    background-color: #436b95;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .Hamburger-menu-container {
    display: grid;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #436b95;
    justify-content: left;
    padding: 0 0.5rem;
    z-index: 3;
  }
  .Hamburger-menu-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 1s;
  }
  .Hamburger-menu-container button:hover {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

