@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* html{
  overflow-y: hidden;
} */
body::-webkit-scrollbar{
  display: none;
}
.Hamburger-menu-container{
  display: none;
}
.contact-title-container {
  grid-column: 3/17;
  grid-row: 1/3;
  border: 2px solid black;
}
.contact-title-container,
.contact-form-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-message {
  grid-column: 5/15;
  grid-row: 3/5;
  text-align: center;
  border: 2px solid black;
}

.contact-form-container {
  grid-column: 3/12;
  grid-row: 5/17;
  border: 2px solid rgb(11, 146, 20);
  /* align-self: center; */
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  grid-column: 12/17;
  grid-row: 5/17;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(161, 142, 142);
}
.contact-form input {
  width: 28rem;
  height: 2rem;
}
.contact-form textarea {
  width: 28rem;
  height: 12rem;
}

textarea,
.contact-form input {
  border: 2px solid grey;
  border-radius: 5px;
  outline: none;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  gap: 1rem;
  border: 2px solid rgb(228, 51, 51);
}
.contact-details p {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-family: "Oswald", sans-serif;
}
.contact-soacial-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-basis: 40%;
  margin: 0 auto;
  border: 2px solid black;
}
.send-button{
  width: 10rem;
  height: 2rem;
  background-color: #436b95;
  border: none;
  color: white;
  cursor: pointer;
}



@media only screen and (max-width: 900px) {
  .contact-details p {
    font-size: 0.9rem;
  }
  .contact-form textarea,.contact-form input{
    width: 25rem;
}
.contact-form textarea{
  height: 16rem;
}
}
