@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  position: fixed;
  min-width: 8rem;
  background-color: #436b95;
}

.main-nav__pages {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.5rem;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  margin-left: 0.8rem;
}
.navLink:hover {
  color: black;
}
.navLink .active {
  font-size: 4rem;
}

.main-nav__iconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-nav__pages__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}
a .active {
  color: orange;
}
