/* IMPORTS -----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* CONTAINERS-------------------------------------------- */
.Hamburger-menu-container {
  display: none;
}
.introduction-container {
  grid-column: 4/11;
  grid-row: 2/11;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* border: 2px solid black; */
}
.introduction-container h1 {
  font-size: 1.7rem;
}
.photo-container {
  grid-column: 10/16;
  grid-row: 8/15;
  background-image: url("E:\React\react-portfolio\src\images\homepage_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateZ(10deg);
  /* border: 2px solid black; */
}
/* END OF CONTAINERS-------------------------- */
.introduction-text {
  margin-top: 2rem;
  text-align: left;
}
.introduction-contactButton {
  display: block;
  width: 15rem;
  height: 2.5rem;
  margin-top: 2rem;
  background-color: #f58750;
  font: bold 1.1rem Oswald,sans-serif;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}
.introduction-contactButton:hover{
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25rem);
}
.introduction-contactButton:active{
  transform: scale(95%);
}
/* MEDIA QUESRIES--------------------------------------------- */
@media only screen and (max-width: 900px) {
  .introduction-container h1 {
    font-size: 1.4rem;
  }
  .introduction-container {
    grid-column: 4/14;
    /* grid-row: 10/16; */
  }
  .photo-container {
    grid-column: 8/16;
    grid-row: 9/16;
  }
}

@media only screen and (max-width: 768px) {
  /* CONTAINERS--------------------------------- */
  .main-nav__container {
    display: none;
  }
  .Hamburger-menu-container {
    display: grid;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #436b95;
    justify-content: left;
    padding: 0 0.5rem;
    z-index: 3;
  }
  .main-nav__container__active {
    grid-column: 1/11;
    grid-row: 2/17;
    background-color: #436b95;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .photo-container {
    grid-row: 8/12;
    transform: rotateZ(15deg);
    grid-column: 6/12;
  }
  .introduction-container {
    grid-column: 2/11;
    grid-row: 3/8;
    padding-top: 2rem;
  }
/* END OF CONTAINERS------------------------------------- */
  .introduction-container h1 {
    font-size: 1.3rem;
  }
  .introduction-text {
    margin-top: 1rem;
  }
  .Hamburger-menu-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 1s;
  }
  .Hamburger-menu-container button:hover {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .introduction-contactButton {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 620px) {
  .photo-container {
    transform: rotateZ(20deg);
    grid-row: 7/13;
    grid-column: 7/12;
  }
  .introduction-container {
    grid-column: 2/12;
  }
  .introduction-container h1 {
    font-size: 1.2rem;
  }
  .introduction-text {
    font-size: 0.9rem;
  }
  .introduction-contactButton {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .photo-container {
    grid-row: 9/13;
    grid-column: 7/12;
  }
  html {
    overflow: hidden;
  }
}
