/* IMPORTS -----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400&display=swap");
/* GLOBAL------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CONTAINERS-------------------------------------------- */
.grid-container {
  width: 100vw;
  min-width: 380px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-template-rows: repeat(16, minmax(0, 1fr));
  background-color: #aec6cf;
  overflow: hidden;
}
.Hamburger-menu-container {
  display: none;
}
.main-nav__container {
  grid-column: 1/3;
  grid-row: 1/17;
  background-color: #436b95;
}
.introduction-container {
  grid-column: 4/11;
  grid-row: 2/9;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.photo-container {
  grid-column: 11/16;
  grid-row: 8/15;
  background-image: url("E:\React\react-portfolio\src\images\homepage_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateZ(10deg);
}
/* END OF CONTAINERS-------------------------- */
.introduction-text {
  margin-top: 2rem;
}
.introduction-contactButton {
  display: block;
  margin-top: 2rem;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
}
.introduction-contactButton:hover {
  border: 2px solid #4d5d53;
  color: #4d5d53;
  font-family: inherit;
}

@media only screen and (max-width: 900px) {
  .introduction-container h1 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 800px) {
  .introduction-container {
    grid-column: 4/13;
  }
  .photo-container {
    grid-row: 10/15;
    grid-column: 8/16;
  }
  .introduction-text {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 620px) {
  /* CONTAINERS--------------------------------- */
  .grid-container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
  .main-nav__container {
    display: none;
  }
  .Hamburger-menu-container {
    display: grid;
    align-items: center;
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: #436b95;
    justify-content: left;
    padding: 0 0.5rem;
    z-index: 3;
  }
  .main-nav__container__active {
    grid-column: 1/11;
    grid-row: 2/17;
    background-color: #436b95;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .photo-container {
    grid-row: 7/11;
    transform: rotateZ(15deg);
    grid-column: 6/12;
  }
  .introduction-container {
    grid-column: 1/13;
    grid-row: 3/7;
    padding: 2rem;
  }
/* END OF CONTAINERS------------------------------------- */
  .introduction-container h1 {
    font-size: 1.3rem;
  }
  .introduction-text {
    margin-top: 1rem;
  }
  .Hamburger-menu-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 1s;
  }
  .Hamburger-menu-container button:hover {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .introduction-contactButton {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 520px) {
  .photo-container {
    transform: rotateZ(20deg);
    grid-row: 6/12;
    grid-column: 7/12;
  }
  .introduction-container h1 {
    font-size: 1.2rem;
  }
  .introduction-text {
    font-size: 0.9rem;
  }
  .introduction-contactButton {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 428px) {
  .photo-container {
    grid-row: 7/12;
    grid-column: 7/12;
  }
  html {
    overflow: hidden;
  }

}
