* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.skill-container {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 10px;
}
.skill-title {
  font-size: 1.4rem;
  font-weight: bolder;
}
.skill-description {
  flex-basis: 75%;
  background-color: #dff7ff;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
}
.skill-logo-container {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #dff7ff;
}
.skill-logo {
  width: 50%;
  height: 75%;
  min-width: 110px;
  min-height: 150px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .skill-container {
    flex-direction: column-reverse;
  }
  .skill-description {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
  }
  .skill-logo-container{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
  }
  .skill-logo{
    max-width: 110px;
    max-height: 150px;
  }
}
@media only screen and (max-width: 620px) {
  .skill-description {
    font-size: 0.9rem;
  }
}
